body {
    background-color: #FFFFFF;  
}

main{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    font-family: 'Baloo 2', ;
    font-weight: 400;
    position: relative;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #242635;
}

@media screen and (max-width: 320px) {
    .logo {
        font-size: 20px;
    }
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin: 30px 30px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center ;
}

.list {
    width: 267px;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #242635;
}

.li {
    margin-left: auto;
    font-family: 'Source Sans Pro', sans-serif;
    height: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #242635;
}

@media screen and (max-width: 768px)  {
    .li {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 330px)  {
    .li {
        visibility: hidden;
    }
}

.li:hover {
    cursor: pointer ;
    color: gray;  
}
    
.main-text{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px 10px;
    padding: 20px;
    flex-wrap: wrap;   
}

@media screen and (max-width: 768px) {
    .main-text {
        width: 574px;
        font-family: 'Source Sans Pro', sans-serif;
        justify-content: space-around;
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .main-text {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .main-text { 
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .main-text {
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
    }
}

.main-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    letter-spacing: -2px;
    color: #242635;
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 72px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .main-title {
        font-size: 36px;
        margin-top: 50px;
        text-align: center;
        justify-content: center;
    }
}

.main-info {
    max-width: 410px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #242635;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .main-info {
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        justify-content: space-around;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #242635;
    }
}

@media screen and (max-width: 500px) {
    .main-info {
        margin-top: 50px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 18px;
        justify-content: center;
        text-align: center;
        color: #242635;
    }
}

@media screen and (max-width: 320px) {
    .main-info {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        justify-content: center;
        text-align: center;
        color: #242635;
    }
}
   
.img {
    display: flex;
    flex-direction: column;
}
     
@media screen and (max-width: 768px) { 
    .img {
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 700px) { 
    .img {
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 320px) { 
    .img {
        width:257px;
        width: 80%;
        width: 100%;
        align-items: flex-end;
        flex-direction: column;
    }
} 

@media screen and (max-width: 768px) { 
    .fa-long-arrow-alt-down {
        visibility: hidden;
    }
}

.icon {
    position: absolute;
    font-size:40px;
    font-weight: 100px;    
}

@media screen and (max-width: 768px) { 
    .icon {
        visibility: hidden;
    }
}

@media screen and (max-width: 400px) { 
    .icon {
        visibility: none;
    }
}